* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fcfbf8;
}
body {
  /* @font-face {
    font-family:lovable-font ;
    src: url();
  } */
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 0 5vw;
  position: fixed;
  width: 100%;
  z-index: 9999;
  cursor: pointer;
  
  
  
}

/* ------------header css start----------------------- */
.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-left p {
  color: #fcfbf8;
  cursor: pointer;
}

.header-left a img {
  width: 140px;
}

.header-left a img:hover {
  opacity: 0.8;
  /* opacity-->TRANSPARENCY of color / shade of color */
}
nav {
  display: flex;
  color: #fcfbf8;
  gap: 22px;
}

nav p {
  /* gap: 22px; */
  cursor: pointer;
}



nav a:hover {
  color: #fcfbf8cc;
}

nav p:hover {
  color: #fcfbf8cc;
}

button {
  padding: 0.6vw 1vw 0.6vw 1vw;
  border-radius: 7px;
  gap: 2px;
  align-items: center;
}

.login {
  color: #fcfbf8;
  background-color: #181818;
  border-color: 1px solid #fcfbf866;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;

}

.get {
  color: #181818;
  background-color: #fcfbf8;
  border-color: 1px solid #fcfbf866;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 2px;
  cursor: pointer;
}

.login:hover {
  background-color: #fcfbf833;
}

.get:hover {
  background-color: #bfbebb;
}
.resources-container
{
  position: relative;
}

.resources {
  position: absolute;
  background-color: #181818;
  display: none;
  top: 8vh;
  gap: 12px;
  padding: 16px;
  border-radius: 20px;
  width: 200px;
   border-color: 1px solid #f2f2eb66;
  

}

.resources-container p:hover+.resources {
  display: flex;
  flex-direction: column;
}

.resources-container p i {
  transition: rotate 150ms ease-in-out;
}

.resources-container p:hover i {
  rotate: 180deg;
}

/* -----------------------------header completed ------------------------------------ */

/* ------------------------------------main css start------------------------------------------ */
main
{
    background-color: #1c1c1c;
    position: relative;
    /* z-index we want image on this so image index priority is less  */
    z-index: 999;
    height: 100vh;
    /* border: 2px solid red; */
    /* overflow -> image dont go beyond screen or overflows */
    overflow: hidden;
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
main img
{

  width: 100%;
  position: absolute;
  z-index: -999;
  top: 0;
  scale: 2;
}
.main-content
{
  padding-top: 1vh;
  text-align: center;
}
.main-content h1
{
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 40px;
  color: #fcfbf8;
}
.main-content p
{
  font-weight: 700;
  color: #fcfbf8a6;
  font-size: 18px;
}
.main-content a
{
  font-size: 12px;
  padding: 12px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.main-content a:hover
{
  background-color: #272725;
}
.main-content i
{
  transition: all 0.3s ease-in-out;
}
.main-content a:hover i
{
    translate: 4px;
}
.main-content a span:first-child
{
  background-color: #3b82f6;
  padding: 4px 6px;
  border-radius: 40px;
}

.input-container
{
  background-color: #272725;
  width: 56vw;
  height: 24vh;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}
.input-container input
{
    width: 100%;
    height: 28px;
    background-color: #272725;
    border: none;
    outline: none;
    color: white;

}
.input-container input::placeholder
{
  color: #e4e4e4;
}
.input-options
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.voice-svg svg
{
  width: 20px;
  height: 20px;
  color: white;
}
.extra-options
{
  display: flex;
  align-items: center;
  gap: 14px;
}
.input-options .add i
{
    height: 32px;
    width: 32px;
    font-weight: 500;
    font-size:x-large;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    
}
/* IF we write the above css in hover it goes up so fixed shape first*/
.input-options .add:hover i
{
  background-color:rgb(93, 91, 91);
}
.input-options .voice-svg 
{
   padding: 6px 6px 6px 6px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.input-options .voice-svg:hover 
{
  background-color:rgb(93, 91, 91);
  
}
.extra-options p
{
  height: 5vh;
  width: 9vh;
  font-size: 14px;
  color: #e4e4e4;
   border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.extra-options p:hover
{
   background-color:rgb(56, 55, 55);
}
.extra-options i
{
   height: 32px;
    width: 32px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 142, 142);
    transition: all 0.3s ease-in-out;
    color: black;
    cursor: not-allowed;
}
.extra-options i:hover
{
  background-color: #4a4a49;
}
.box
{
  height: 100vh;
}
/* ------------------------------------main css stop------------------------------------------ */

/* ---------------------------Discover css start--------------------------- */
.discover
{
  background-color: #181818;
}
.discover-heading h2
{
  color: #fcfbf8;
}
.discover-heading p
{
  padding-top: 9px;
  color: #bfbebb;
  font-weight: bold;
}
.discover-template1
{
  padding-top: 25px;
  display: flex;
  gap: 20px;
}
.discover-template1 .templ img
{
  width: 280px;
  height: 170px;
  border-radius:10px;
  
}
.discover-template2
{
  padding-top: 70px;
  display: flex;
  gap: 20px;
}
.discover-template2 .templ img
{
  width: 278px;
  height: 170px;
  border-radius: 10px;
  
}
.templ .caption h3
{
  font-size: 17px;
  color: #fcfbf8;
  font-weight: 500;
}
.templ .caption p
{
  font-size: 12px;
  color: #bfbebb;
}

